root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all

[*.{csproj,props,targets,slnx,xml,json,yml,yaml,md,ps1,psm1,py,ts,html,scss,css}]
indent_style = space
indent_size = 2

[*.{ps1,psm1}]
charset = utf-8-bom
end_of_line = crlf

[*.bat]
end_of_line = crlf
